{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "plugins": ["html"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "script"
  },
  "ignorePatterns": ["dist/", "node_modules/", "src/_includes/css/"]
}
