{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}


{% from 'components/card.html' import card %}

{# provide seo tags to base template #}
{% block seo %}
      <title>DelGrosso's DG2GO</title>
      <meta name="description" content="{{seoDescription}}">

      <meta property="og:title" content="DG2Go allows customers to enjoy some of their favorite DelGrosso’s Park Food even when the Park is not open."/>
      <meta property="og:url" content="https://www.dg2gofood.com/" />
      <meta property="og:description" content="DG2Go allows customers to enjoy some of their favorite DelGrosso’s Park Food even when the Park is not open." />
      <meta property="og:type" content="website" />
{% endblock %}

{% block content %}

  {% include "partials/hero.html" %}

  {# <script>console.log({{siteHome | dump | safe}})</script> #}


  {% for section in siteHome.content.sections %}

  {% if section._type == 'ctaSection' %}
    {% include "sections/cta-section.html" %}
  {% endif %}
  {% if section._type == 'magSection' %}
    {% include "sections/mag-section.html" %}
  {% endif %}
  {% if section._type == 'tableSection' %}
    {% include "sections/table-section.html" %}
  {% endif %}
  {% if section._type == 'cardSection' %}
    {% include "sections/card-section.html" %}
  {% endif %}
  {% if section._type == 'faqSection' %}
    {% set qaSectionCounter = qaSectionCounter + 1 %}
    {% include "sections/faq-section.html" %}
  {% endif %}
  {% if section._type == 'reusedSection' %}
    {% include "sections/reusable-section.html" %}
  {% endif %}

{% endfor %}

{% endblock %}