{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% block seo %}
  <title>{{ title }} | DG2GO</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{% croppedUrlFor siteSettings.image, '1200', '627' %}">
  <meta property="og:type" content="website">
{% endblock %}

{% block content %}
  <section class="[ gap-top-600 gap-bottom-600 md:gap-top-xl md:gap-bottom-xl ]">
    <div class="wrapper">
      <div class="flow">
        <a href="{{ iubendaUrl }}" class="iubenda-white no-brand iubenda-noiframe iubenda-embed iub-body-embed" title="{{ title }}">{{ title }}</a>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    (function (w, d) {
      var loader = function () {
        var script = d.createElement('script')
        var firstScript = d.getElementsByTagName('script')[0]
        script.src = 'https://cdn.iubenda.com/iubenda.js'
        firstScript.parentNode.insertBefore(script, firstScript)
      }

      if (w.addEventListener) {
        w.addEventListener('load', loader, false)
      } else if (w.attachEvent) {
        w.attachEvent('onload', loader)
      } else {
        w.onload = loader
      }
    })(window, document)
  </script>
{% endblock %}
