{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% from 'components/grid-card.html' import gridCard as singleGridCard %}
{% from 'components/page-header.html' import pageHeader %}


{% block content %}

  {# <script>console.log({{sitePage.content | dump | safe}})</script> #}

  {{pageHeader(title='Rides')}}

  <div class=" [ wrapper auto-grid gap-bottom-500 gap-top-400 ]">
  {% for attraction in siteAttractions %}

    {% set rideCategory = attraction.content.category.split('|') %}

    {{ singleGridCard(
      titile=attraction.content.name,
      eyebrow=rideCategory[1],
      eyebrowColor='green',
      image=attraction.content.mainImage,
      alt=attraction.content.mainImage.alt,
      buttonText='more info <span class="visually-hidden">on '+ attraction.content.name +' ride </span>',
      buttonLink=attraction.content.slug.current,
      titleHeadingLvl=3
    )}}

  {% endfor %}
  </div>

{% endblock %}