.page-header {
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;

  @include media-query('md') {
    padding-bottom: 0;
  }

  &__content {
    
    background-color: get-color('light');
    text-align: center;

    @include media-query('md') {
      margin-top: 50px;
      margin-bottom: 0px;
      border-radius: 10px 10px 0 0;
    }

    @include media-query('lg') {
      margin-top: 300px;
    }
    
    h1 {
      font-size: get-size('700');
      
      @include media-query('md') {
        font-size: get-size('800');
      }
    }
  }

  
  background-image: url('/images/bg/Favorite-Shot-of-the-Water-Park.jpg');
  

}