{% extends "sections/common/centered-section.html" %}


{% block content %}

  <h2>DG2GO Meals Menu</h2>
  <ul class="mealsMenu">
    {% for item in meals %}
    <li class="">
      <h3>{{- item.date | dateFilter -}}</h3>

      <div class="mealsMenu__wrapper">
        <div class="mealsMenu__itemName">
          {{item.dish.name}}
        </div>
        <div class="mealsMenu__dots"></div>
        <div class="mealsMenu__price">
          ${{- item.dish.price -}}
        </div>
      </div>


      <div class="mealsMenu__desc">
        {{- item.dish.description -}}
      </div>
      <div class="mealsMenu__buttons">
        <a class="[ button ] [ button--colored-bg button--color-red button--small ]" href="https://dg2go.foxycart.com/cart?name={{item.dish.name | encodeUri}}&price={{item.dish.price}}&pickup={{item.date | dateFilterYear }}&meal=lunch">Order <span class="visually-hidden">{{ dish.name }}</span> for lunch <span class="visually-hidden">on {{ dish.date | dateFilterYear }}</span></a>
        <a class="[ button ] [ button--colored-bg button--color-red button--small ]" href="https://dg2go.foxycart.com/cart?name={{item.dish.name | encodeUri}}&price={{item.dish.price}}&pickup={{item.date | dateFilterYear }}&meal=dinner">Order <span class="visually-hidden">{{ dish.name }}</span> for dinner <span class="visually-hidden">on {{ dish.date | dateFilterYear }}</span></a>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
