<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
{# <div class="mq">
  <div class="mqTiny">Tiny</div>
  <div class="mqSm">Small</div>
  <div class="mqMd">Medium</div>
  <div class="mqLg">Large</div>
</div> #}

<header role="banner" class="[ site-head ]">
  <div class="wrapper">

    <div class="site-head__inner" x-data="{ mainMenuisOpen: false }">

      {# LEFT COLUMN - BRAND #}
      <div class="[ site-head__left-column ] [ site-head__brand ]">
        <a href="/">
          <img width="110" height="62" src="/images/logos/DG2GO-logo-transparent.png" alt="DelGrosso's DG2GO logo" />
        </a>
      </div>
      <!-- end [ site-head__left-column ] [ site-head__brand ] -->

      {# MIDDLE COLUMN #}
      <div class="[ site-head__middle-column ]">

        {# <div class="[ status-bar ]">
          <a href="/">operating schedule</a>
          
        </div> #}
        <!-- /.site-head__status-bar -->

        {# MAIN NAV #}
        {% include 'partials/nav.html' %}

      </div>
      <!-- /.site-head__middle-column -->

      {# RIGHRT COLUMN #}
      {# switches order on mobile to top #}
      <div class="[ site-head__right-column ]">


        <div>
          <span class="site-head__phone">
            <a href="tel:814-684-3538">
              {% include "partials/svg/icon-phone-square-alt-solid.svg" %}
              <span class="visually-hidden">call us</span>
               <span>814-684-3538</span>
              </a>
          </span>
          <!-- /.site-head__phone -->

          <ul class="site-head__social">
            {% include 'partials/social-icons.html' %}
          </ul>
        </div>
        
      </div>
      {# END RIGHT COLUMN #}

    </div>
  </div>
</header>