<footer class="footer">
  <div class="wrapper">
    <div class="footer__grid [ flow ]">

      <div class="footer__logos">
        <img src="/images/logos/DG2GO-logo-transparent-white.png" alt="DelGrosso's Amusement Park and Laguna Splash Logo" />
        {# <img src="/images/logos/explore-altoona-logo-traced.png" alt="Explore Altoona Logo" /> #}
      </div>

      <ul class="footer__social-wrapper">
        {% include 'partials/social-icons.html' %}
      </ul>

      <div class="footer__phone">
        <a href="tel:814-684-3538"><span>Call us</span><br><span>814-684-3538</span></a>
      </div>


      <div class="footer__address [ flow ]">
        <p>Italian-themed Family Amusement &amp; Water Park in Tipton, PA, with famous food.</p>
        <p><a href="mailto:parkinfo@delgrossos.com">parkinfo@delgrossos.com</a></p>
        <p>DelGrosso’s Amusement Park, Inc. <br/>4352 E, Pleasant Valley Blvd <br />PO Box 335 Tipton, PA 16684</p>
      </div>

      <div class="footer__col col1">
        <h4>Park</h4>
        <ul>
          <li>Passes &amp; Tickets</li>
          <li>Groups</li>
          <li>Opening Hours</li>
          <li>FAQs</li>
        </ul>
      </div>

      <div class="footer__col col2">
        <h4>About</h4>
        <ul>
          <li>Explore</li>
          <li>History</li>
          <li>Famous Food</li>
          <li>Join Our Team</li>
        </ul>
      </div>
      
      <div class="footer__col col3">
        <h4>Legal</h4>
        <ul>
          <li>Contact</li>
          <li>Terms &amp; Conditions</li>
          <li>Privacy Policy</li>
          <li>ADA Compliance</li>
        </ul>
      </div>

    </div>
  </div>
    <div class="footer__bottom">
      <div class="wrapper footer__bottom-content">
          <p>©2014-2020 DelGrosso’s Amusement Park, Inc. All Rights Reserved. | 
          Website by: <a href="https://studiorovst.com" target="_blank" rel="noopener noreferrer">Studio Rovst</a></p>
      </div>
    </div>
</footer>